* {
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    margin: 0;
}

.max-width-and-centered {
    max-width: 1038px;
    margin: 0 auto;
}

.information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.information-division p {
    max-width: 160px;
    text-align: center;
    margin: 4px 0;
}

header {
    background-color: #1F2937;
}

.hero-section {
    background-color: #1F2937;
    padding: 102px 0 127px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero div h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}

.hero-left-side {
    max-width: 500px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 800;
    width: 130px;
    height: 38px;
    margin: 16px 0;
    border-radius: 10px;
    border: none;
}

.placeholder-hero-image {
    background-color: #6D747E;
    width: 530px;
    height: 238px;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
}

header div a,
header div div a,
.hero div p {
    color: #E5E7EB;
    font-size: 18px;
}

.placeholder-information-image {
    border: 5px solid #3882F6;
    border-radius: 15px;
    width: 175px;
    height: 175px;
    flex: none;
}

.information-section div h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin: 50px 0;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 132px 0 156px;
}

.quote-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-section .quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    max-width: 800px;
    font-style: italic;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 22px 0;
}

.action {
    padding: 20px;
    background-color: #3882F6;
    display: flex;
    margin: 100px auto;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;
}

.action-title {
    color: #E5E7EB;
    font-size: 24px;
    font-weight: 700;
}

.action button {
    width: 120px;
    border: 2px solid white;
    border-radius: 8px;
    padding: 6px;
    font-weight: 600;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.header-links a {
    font-weight: 400;
}

.header-links {
    display: flex;
    gap: 28px;
}

header div a {
    font-weight: 800;
    font-size: 24px;
}

.hero div p {
    margin: 0;
    max-width: 460px;
}

.information-section {
    padding: 0 0 120px;
}

.quote-section-texts .quotee {
    margin: 0 0 0 59%;
    font-weight: 800;
    font-size: 24px;
}

.quote-section-texts {
    max-width: 790px;
    margin: 0 auto;
}

.action-text {
    color: #E5E7EB;

}